.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  color: black;
}

.home ul {
  list-style: none;
}